html{
    font-family: sans-serif
}


.box{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 0.5px;
    height: 40px;
    width:98%;
    padding: 10px;
    vertical-align: center;   
    text-align: center;
}

#logo{
    float: left;
    height: inherit;
}

.text{
    float: left;
    color: black;
    text-align: center;
    padding: 1px;
}

#content{
    padding: 0.8%;
    text-align: center;
    display: inline-block;
}

.darkText{
    float:left;
    color:white;
    vertical-align: center;
    text-align: center;
}

.circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
    color: white;
    float: left;
}

.grayText{
    float: left;
    text-align: center;
    opacity: 0.25;
}